COMPOSE_PROJECT_NAME=adockerwsl
IMAGE_PREFIX=local
IMAGE_TAG=development

POSTGRES_PASSWORD=local-postgres-admin-password
UNIFY_DB_PASSWORD=local-unify-password
PROJECT1_DB_PASSWORD=local-project1-password
PROJECT2_DB_PASSWORD=local-project2-password
PROJECT3_DB_PASSWORD=local-project3-password

UNIFY_APP_KEY=
PROJECT1_APP_KEY=
PROJECT2_APP_KEY=
PROJECT3_APP_KEY=
